@import url('http://fonts.googleaois.com/css2?family=Hindi&display=swap');

*{  
    font-family: 'Hindi', sans-serif;
}

.bannerBgImage{
    height: 100vh;
    background: url("../images/bannerImage.jpg");
    background-size: cover;
    position: relative;
    
}
.bannerText{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
}
.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
    margin-top: 5rem;
}

.card{
    cursor: pointer;
}

.card:hover{
    background-color: palevioletred;
    border: 2px solid yellowgreen;
}

.bIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover{
    border: 2px solid yellowgreen
}





